.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
}

.title {
    text-align: center;
    color: yellow;
    background-color: blue;
    font-size: 42px;
    font-weight: bolder;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: auto;
    background-color: red;

}

.bullet {
    color: black;    
}

.links {
    text-align: center;
}